<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_Arriendo</servlet-name>
        <servlet-class>Servlet.Servlet_Arriendo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_CC</servlet-name>
        <servlet-class>Servlet.Servlet_CC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Usu</servlet-name>
        <servlet-class>Servlet.Servlet_Usu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Cancha</servlet-name>
        <servlet-class>Servlet.Servlet_Cancha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_SC</servlet-name>
        <servlet-class>Servlet.Servlet_SC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Arriendo</servlet-name>
        <url-pattern>/Servlet_Arriendo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_CC</servlet-name>
        <url-pattern>/Servlet_CC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Usu</servlet-name>
        <url-pattern>/Servlet_Usu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Cancha</servlet-name>
        <url-pattern>/Servlet_Cancha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_SC</servlet-name>
        <url-pattern>/Servlet_SC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
